extends layout

block variables
  - var title = "Home"

block content

  h1.text-left.font-height-3.font-weight-bold 53.8 million K-12
  h1.text-left.font-height-2 students across the U.S.
  h1.text-left.font-height-2 will be learning from home.
  br
  br
  h1.text-left.font-height-3.font-weight-bold We are here to help.
  h1.text-left.font-height-1 Do not let COVID-19 stop kids from learning



  .row.m-100
    .col-m-4.ml-50
      div.
      a.b-0
        img(src="https://i.ibb.co/GkrstS7/Screen-Shot-2020-03-23-at-1-34-27-PM.png" alt="Child drawing" height="400" class="rounded-corners")
    .col-m-8
        div.font-height-1.overflow.ml-50
            span We are a selective group of passionate students
            br
            span from elite Universities such as !{' '}
            br
            span.font-weight-bold Harvard, Columbia, !{' '}
            span and!{' '}
            span.font-weight-bold UC Berkeley
            br
            br
            span Tell us what your child is learning,
            br
            span what grade they are in, and when they are free.
            br
            span We will match you up with a college tutor
            br
            br
            span.font-height-1.font-weight-bold Scheduled on an hourly basis.
            br
            span.font-height-1.font-weight-bold No fees. No commitment.
  .row.m-100
    .col-m-12
        div.font-height-3
            p
                | Sign up to learn — Do not let COVID-19 stop your child’s success in school.
            br
            p
                | Apply to tutor — an hour of your time will make a difference for students in need.






